<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mihirmodi.catmain">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.permission.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity

            android:name=".activities.SplashScreen"
            android:noHistory="true"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IntroductionScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.LogSignRedirect"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginScreen"
            android:noHistory="true"
            android:label="@string/title_activity_login1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HomeScreen"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignupScreen"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fragmentpp1"
            android:label="@string/title_activity_fragmentpp1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragmentpp2"
            android:label="@string/title_activity_fragmentpp2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fragmentpp3"
            android:label="@string/title_activity_fragmentpp3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutIim"
            android:label="@string/title_activity_abutiim"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.OfficialContact"
            android:label="@string/title_activity_ofcontact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ImportantDate"
            android:label="@string/title_activity_impdate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FaqCat"
            android:label="@string/title_activity_faqcatapp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NonIimcollageListActivity"
            android:label="@string/title_activity_non_iimcollage_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ImportantDocument"
            android:label="@string/title_activity_impdoc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AllIInstituteView"
            android:label="@string/title_activity_iinstitutemenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InstitutesHome"
            android:label="@string/title_activity_institutesection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InstituteView"
            android:label="@string/title_activity_iim_view_iim"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutCat"
            android:label="@string/title_activity_about_cat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CategoriesList"
            android:label="@string/title_activity_categories"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CategoriesListmain"
            android:label="@string/title_activity_categories_listmain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Questions"
            android:label="@string/title_activity_questions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.QuestionsMain"
            android:label="@string/title_activity_questions_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.QuizPlayer"
            android:label="@string/title_activity_quiz_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Testsmain"
            android:label="@string/title_activity_testsmain"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
